body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:#f4f4f4;
    font-family:Arial, sans-serif;
}

.calculator {
    background-color:#333;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    text-align:center;
}

#display{
    width:calc(100vh-20px);
    height:60px;
    background-color:#eee;
    border:none;
    border-radius:5px;
    margin-bottom:15px;
    text-align:right;
    font-size:2em;
    padding:0 10px;
    box-sizing:border-box;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:10px
}

.buttons button{
    width:60px;
    height:60px;
    font-size:1.5em;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background-color:#666;
    color:white;
    transition:background-color 0.2s;
}

buttons button:hover {
    background-color:#888;
}

buttons button:active{
    background-color: #555;
}

.buttons button:nth-child(4n),
.buttons button:nth-child(16) {
    background-color:#f09a36;
}

.buttons button:nth-child(1){
    background-color:#d9534f;
}